* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #f5f6fa;
}

/* Container */
.signup-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
}

/* Box */
.signup-box {
  background: #fff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  width: 400px;
  max-width: 90%;
  text-align: center;
  transition: transform 0.3s ease;
}
.signup-box h2 {
  margin-bottom: 20px;
  color: #2d3436;
  font-weight: 600;
}

/* Inputs */
.input-group {
  margin-bottom: 18px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #636e72;
  font-size: 14px;
}

.input-icon {
  position: relative;
}

.input-icon input {
  width: 100%;
  padding: 12px 40px 12px 35px;
  border-radius: 10px;
  border: 1px solid #dcdde1;
  outline: none;
  transition: all 0.3s ease;
  background: #f9f9f9;
}
/* Icons */
.icon-left {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  opacity: 0.6;
}
.icon-right {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}
.icon-right:hover {
  opacity: 1;
}

/* Button */
button.signUp {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #282b33, #079369);
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
button.signUp:hover {
  background: linear-gradient(135deg, #282b33, #17a589);;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Toggle link */
.toggle-link {
  color: #666;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}
.signup-box p > .toggle-link:hover{
  color: #282828;
  font-weight: 700;
  text-decoration: Underline; /* gjithmonë pa underline */
  cursor: pointer;
  transition: color 0.3s;
}

/* Hover ndryshon vetëm ngjyrën */
.signup-box p > .toggle-link:hover {
  color: #2a2a2a;
}

/* Responsivitet */
@media (max-width: 768px) {
  .signup-box {
    width: 350px;
  }
}

@media (max-width: 480px) {
  .signup-box {
    width: 90%;
    padding: 30px;
  }
    .input-icon input {
        padding: 10px 35px 10px 30px;
    }
    button.signUp {
        padding: 10px;
        font-size: 14px;
    }
    .signup-box h2 {
        font-size: 22px;
    }
    .input-group label {
        font-size: 13px;
    }
    .icon-left {
        width: 16px;
        right: 8px;
    }
    .icon-right {
        width: 16px;
        right: 10px;
    }
}